@import "tailwindcss";

html, body, #root { height: 100%; }
body { @apply bg-white text-gray-900 antialiased; }

.card { @apply bg-white shadow-sm rounded-lg border border-gray-100 }
.muted { color: #64748b }
